#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50px; /* Footer height */
}

#footer {
  color: #282a36;
  font-size: 15px;
  font-family: Hack;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

#latest {
  font-family: Hack;
}
.slick-prev:before {
  color: #ffb86c !important;
  background-color: #fff;
}
.slick-next:before {
  color: #ffb86c !important;
  background-color: #fff;
}

.slick-dots {
  height: 14px;
}

#summary {
  font-family: Hack;
}

.slick-slider {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.parent {
  position: relative;
  overflow: hidden;
}

.child {
  opacity: 25%;
  fill: white;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: 10s linear 0s infinite falling backwards;
}

#react {
  content: url("https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg");
}

#node {
  content: url("https://nodejs.org/static/images/logo.svg");
}
#hgg {
  content: url("https://images.squarespace-cdn.com/content/v1/608c818344f885787dcd2e6b/1620253272281-IZMLS2JRPIS32SDV5NFY/Image+from+iOS.png?format=1000w");
}

@keyframes falling {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(300%);
  }
}
