#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 50px; /* Footer height */
}

#footer {
  color: #282a36;
  font-size: 15px;
  font-family: Hack;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
